<?xml version="1.0" encoding="UTF-8" standalone="yes"?><plugin version="php"><id>ZBlog_BaiDu_Push</id><name>ZBlog百度自动推送</name><url>https://www.fengyan.cc/</url><note>百度自动推送、百度定时自动推送、百度收录自动提交</note><description>

V1hwc2FrNVVZM2RhVkZWMFRXcEpNVTVUTURCTmJVMTVURlJzYWs5VVJYUmFSRTVxV2xScmVVMVVTWGRQVkZadFRHcEZNazVxWjNkT2FsRTBUbXBSTUU1cVVUMHVXSEpQV2xvcllXSXJZVWRSTTBFMlowTkRkalJvVm1VeFIyaEJQUT09</description><path>plugin/info.php</path><include>include.php</include><level>1</level><author><name>烽烟无限</name><email>null@null.com</email><url>https://www.fengyan.cc/</url></author><source><name/><email/><url/></source><adapted>151626</adapted><version>3.0</version><pubdate>2021-03-20</pubdate><modified>2022-10-29</modified><price>88</price><phpver>5.2</phpver><advanced><dependency/><rewritefunctions/><existsfunctions/><conflict/></advanced><sidebars><sidebar1/><sidebar2/><sidebar3/><sidebar4/><sidebar5/><sidebar6/><sidebar7/><sidebar8/><sidebar9/></sidebars><hash>AfmMJmbquc0WhIh7cgGJWOnhy+TQ2Xd9dXth7ke64UdRGL/l9BhZTapdQ/iJRSbL</hash><downloader>WXpsak5UY3daVFV0TWpJMU5TMDBNbU15TFRsak9URXRaRE5qWlRreU1USXdPVFZtTGpFMk5qZ3dOalE0TmpRME5qUT0uWHJPWlorYWIrYUdRM0E2Z0NDdjRoVmUxR2hBPQ==</downloader></plugin>